footer{
	background-color: #2a2a2a;
	background-image: url(../img/footer-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px 0px;
	color: #fff;
}

.footer-logo img{
	max-width: 195px;
	height: auto;
}

.footer-wrap{
	border-bottom: 1px solid #4c4c4c;
	padding-bottom: 30px;
}

.nav-block-title{
	font-size: 2rem;
	color: #a4a4a4;
	margin-top: 0;
}

.footer-nav-block ul{
	font-family: RobotoLight;
	font-size: 1.6rem;
	list-style-type: none;
	padding: 0;	
}

.footer-nav-block ul a{
	color: #fff;
	line-height: 2.5rem;
	text-decoration: none;
}

.subscribe-mail{
	width: 28rem;
	padding: 1.6rem 5rem 1.6rem 2rem;
	border-radius: 50px	;
	border: none;
}

.button-arrow{
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	border-radius: 50%;
	color: #fff;
	border: none;
	background-color: #ff9537;
	transform: translateX(-4.4rem);
}

.subscribe-form{
	display: flex;
	align-items: center;
}

.footer-contacts{
	padding-top: 15px;
	/* padding-bottom: 30px; */
}

.footer-contacts-phones span{
	font-size: 1.8rem;
	font-family: RobotoBold;
	font-weight: 800;
}

.footer-contacts-phones span small{
	font-size: 1.2rem;
	color: #a4a4a4;
	font-family: RobotoLight;
}

.footer-contacts-mail span{
	font-family: RobotoLight;
}

.footer-contacts-mail span a{
	color: #ff9537;
}

.footer-contacts-social a{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	margin-right: 1.2rem;	
}

.footer-contacts-social div{
	margin-bottom: 1.2rem;
}

.footer-contacts-social i{
	padding: .9rem;
	border-radius: 50%;
	display: inline-block;
}

.icon-vk{
	background-color: #3d769c;
	
}

.icon-facebook{
	background: #23599b;
}

.icon-twitter{
	background: #00bbe7;
}

.icon-instagram{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.icon-youtube{
	background-color: #e62117;
}

.icon-odnoklassniki{
	background: #eb6b0e;
}

.icon-gplus{
	background: #dc4b3f;
}

.icon-at{
	background: #168de2;
	color: #fa9304;
}

.footer-copy{
	padding-top: 2rem;
	font-family: RobotoLight;
}

.footer-copy p{
	margin: 0;
	color: #a2a2a2;
	/*font-family: RobotoLight;*/
}

.footer-copy p strong{
	color: #ffffff;
	font-weight: normal;
}

@media (max-width:1199px){
	.footer-contacts-phones span{font-size: 1.5rem;}
	.footer-contacts-social a{margin-right: .5rem;}
	.footer-contacts-mail span {font-size: 1.5rem;}
	.footer-contacts-phones span small{font-size: .9rem;}
}

@media (max-width:991){
	/* .footer-contacts-phones span{font-size: 1.5rem;}
	.footer-contacts-social a{margin-right: .5rem;}
	.footer-contacts-mail span {font-size: 1.5rem;}
	.footer-contacts-phones span small{font-size: .9rem;} */
}